<div class="container mt-4 contentCard">
    <div class="card">
        <div class="card-header">
            <h3>Quantidade de hospitais cadastrados:</h3>
        </div>
        <div class="card-body">
            <div class="data">
                <h3>Hospitais Cadastrados: {{dataHospital.length}}</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Municípios e seus hospitais cadastrados:</h3>
        </div>
        <div class="card-body card-body-data-local">
            <div class="dataLocais">
                {{#each dataHospital}}
                    <ul class="localdata">
                        <span class="cityName">{{this.MUNICIPIO}}</span>
                        <span class="nameH">{{this.NOME_ESTABELECIMENTO}}</span>
                        <a href="/hospital/{{this._id}}"><button data-id="{{this._id}}" class="btn btnData">Dados</button></a>
                    </ul>
                    <hr>
                {{/each}}
            </div>
        </div>
    </div>
</div>